* {
    background-color: white;
}

.contents {
    background-color: cornflowerblue;
    border: 10px;
    border-color: red;
    border-style: dashed;
    margin: 8px;
    padding: 8px;
    width: 400px;
    height: 800px;
    display: block;
 
}
.title {
    color: red;
    margin: 8px;
    border: 3px solid;
    text-align: center;
    size: 32px;
}

.contents .recipe-list {
    text-align: left;
    size: 18 px;
    color: blue;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: block;
    border: 2px solid;
    border-color: black;
    margin: 10px;
    padding: 100px 20px;
}

.contents .recipe-list li.one {
    size: 32px;
}